body {
    background: #2a8bfa;
    background: linear-gradient(344deg,rgba(42, 139, 250, 1) 0%, rgba(253, 255, 117, 1) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}